<h1 id="tableLabel">Movies</h1>

<nav class="search">
  <form class="form-inline">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" #searchBox id="search-box" (input)="search(searchBox.value)"/>
  </form>
</nav>

<div class="movies-container">
  <p *ngIf="!(movies$ | async)"><em>Loading...</em></p>

  <table class='table table-striped table-hover' aria-labelledby="tableLabel" *ngIf="movies$ | async">
    <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Category</th>
      <th scope="col">Year</th>
      <th scope="col">Rating</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let movie of movies$ | async" (click)="onSelect(movie)">
      <td scope="row">{{ movie.title }}</td>
      <td>{{ movie.category.name }}</td>
      <td>{{ movie.year }}</td>
      <td>{{ movie.rating }}</td>
    </tr>
    </tbody>
  </table>

  <app-movie-detail class="movie-detail" [movie]="selectedMovie"></app-movie-detail>
</div>
