<h1 id="tableLabel">Movies</h1>

<div class="search">
  <label for="search-box">Movie Search</label>
  <input #searchBox id="search-box" (input)="search(searchBox.value)"/>
</div>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!(movies$ | async)"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="movies$ | async">
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Year</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies$ | async" [class.selected]="movie === selectedMovie">
      <td>{{ movie.title }}</td>
      <td>{{ movie.category.name }}</td>
      <td>{{ movie.year }}</td>
      <td>{{ movie.rating }}</td>
    </tr>
  </tbody>
</table>

<app-movie-detail [movie]="selectedMovie"></app-movie-detail>
